apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: inventory           
  labels:
    app: inventory
spec:
  to:
    kind: Service
    name: inventory        
  port:
    targetPort: 8080


