apiVersion: v1
kind: Secret
metadata:
  name: postgres-creds
  labels:
    app: postgres
type: Opaque
stringData:
  database_uri: postgresql+psycopg://postgres:pgs3cr3t@postgres:5432/inventory
  password: pgs3cr3t